$box-shadow-x-offset: 4px;
$box-shadow-y-offset: 4px;
$box-shadow-blur: 5px;
$border-thickness: 2px;
$border-radius: 5px;

$grass-type-color: green;
$water-type-color: blue;
$fire-type-color: red;
$poison-type-color: purple;
$bug-type-color: yellow;
$electric-type-color: yellowgreen;
$psychic-type-color: violet;
$ground-type-color: brown;
$normal-type-color: orange;
$fairy-type-color: pink;
$ghost-type-color: darkcyan;
$rock-type-color: gray;
$fighting-type-color: black;